
@use '../../styles/partials/displays' as d;
@use '../../styles/partials/padding' as p;
@use '../../styles/partials/colours' as c;
@use '../../styles/partials/font-size' as f;
@use '../../styles/partials/font';

* {
    font-family: 'AvenirNextLTPro-Regular';
}

.nav {
    width: auto;
    height: auto;
    display: flex;
    background-color: c.$background;
    border-bottom: 1px solid black;
    
    @include d.mobile {
        padding: p.$mobRegPadding;
        flex-direction: column;
        align-items: center;
    }

    @include d.tablet {
        padding: p.$regPadding;
        justify-content: space-between;
        align-items: center;
    }

    @include d.desktop {
        padding: p.$paddingHeadlineB 10vw;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        height: 25px;
        width: 120px;
        width: auto;

        @include d.mobile {
            padding-bottom: p.$mobRegPadding;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        @include d.mobile {
            padding-bottom: p.$mobRegPadding;
            width: 100%;
        }

        @include d.tablet {
            width: 70%;
        }

        @include d.desktop {
            width: 50%;
        }

        &__profile {
            display: flex;
            border-radius: 50%;
            overflow: hidden;
            justify-content: center;
            align-items: center;

            @include d.mobile {
                width: 40px;
                height: 40px;
            }

            @include d.tablet {
                width: 100px;
                height: 40px;
            }

            @include d.desktop {
                height: 40px;
                width: 100px;
            }
        }
    }

    &__upload-button {

        @include d.mobile {
            display: none;
        }

        @include d.tablet {
            width: 100%;
            background-color: c.$callToAction;
            color: c.$CTAtext;
            border: 0px solid c.$callToAction;
            border-radius: 4px;
            height: 40px;
            font-weight: bold;
            margin-right: 20px;
        }

        @include d.desktop {
            width: 100%;
            background-color: c.$callToAction;
            color: c.$CTAtext;
            border: 0px solid c.$callToAction;
            border-radius: 4px;
            height: 40px;
            font-weight: bold;
            margin-right: 20px;
        }

    }

    &__upload-button-mobile {

        @include d.mobile {
            width: 100%;
            background-color: c.$callToAction;
            color: c.$CTAtext;
            border: 0px solid c.$callToAction;
            border-radius: 4px;
            height: 40px;
            font-weight: bold;
        }

        @include d.tablet {
            display: none;
        }

        @include d.desktop {
            display: none;
        }

    }

    &__mohan {
        width: 100%;
        height: auto;
        transform: scale(1.5);
    }

}

input {
    width: 80%;
    height: 40px;
    background-color: c.$formFieldbg;
    border: 1px solid c.$divider;
    color: c.$primaryText;
    border-radius: 4px;

    @include d.tablet {
        margin-right: 20px;
    }

    @include d.desktop {
        margin-right: 20px;
        width: 100%;
    }
}

input::placeholder {
    color: c.$primaryText;
    font-size: f.$mobileText;
    padding-left: 10px;
}