@use '../../styles/partials/displays' as d;
@use '../../styles/partials/padding' as p;
@use '../../styles/partials/colours' as c;
@use '../../styles/partials/font-size' as f;
@use '../../styles/partials/font';

* {
    font-family: 'AvenirNextLTPro-Regular';
}

.nav {
    width: auto;
    height: auto;
    display: flex;
    background-color: c.$background;
    border-bottom: 1px solid black;
    width: 100%;
    height: 150px;
}