// Colors 

//Text

$primaryText: #323232;
$secondaryText: #AFAFAF;
$textLabel: #AFAFAF;

//Call To Action

$callToAction: #0095FF;
$CTAhover: #0065AD;
$CTAtext: #FFFFFF;

//General
$background: #FFFFFF;
$videoPlayerComp: #000000;
$divider: #E1E1E1;
$formFieldbg: #FAFAFA;